<html>
  <head>
    <title>{{ title }}</title>
    <body>
    <ul>
        <li>Name:{{ user[0].Name }}</li>
        <li>Age:{{ user[0].Age}}</li>
        <li>email:{{ user[0].email }}</li>
        <li>Gpa:{{ user[0].gpa }}</li>
        <li>Registration_Id:{{ user[0].Registration_Id }}</li>
        <li>Batch:{{ user[0].Batch }}</li>
    </ul>
    </body>
  </head>
</html>